.about {
    margin: 0 auto;
    width: $min-width;
    padding: 0 0 95px;

    &-tabs {
        margin: 0;
        padding: 0 0 60px;
        list-style: none;
        text-align: center;

        &__item {
            display: inline-block;
            width: 320px;
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            margin: 0 4px;

            &_active {
                .about-tabs__link {
                    border-bottom-width: 3px;
                    border-bottom-color: lighten($color-brown, 20%);
                    color: $color-brown;
                    padding-bottom: 15px;
                }
            }
        }

        &__link {
            display: block;
            padding: 16px 0;
            color: #94949b;
            text-decoration: none;
            border-bottom: 1px solid #c0c0c7; 

            &:hover {
                color: $color-brown;
            }
        }
    }

    #about-tab-1 {
        display: block;
    }

    &-tab-content {
        display: none;


        &__text {
            text-align: right;
            font-size: 15px;
            line-height: 24px;
            color: $default-color;
            font-family: 'Roboto', sans-serif;
        }

        &__img {
            padding: 0 0 0 25px;
        }

        &__inner {
            display: flex;
            justify-content: space-between;
        }
    }
}