.benefits {
    background:#2c0f14 url('#{$img-url}benefits-bg.jpg') no-repeat 50% 0;
    min-width: $min-width;
    color: $color-brown-text;
    padding: 70px 0 30px 0;
    margin: 0 0 65px;

    h1 {
        font-size: 36px;
        line-height: 36px;
        color: #fff;

        &::after {
            background: #643840;
        }
    }

    .sub-title {
        font-size: 18px;
        line-height: 24px;
        color: $color-brown-text;
    }

    &-list {
        margin: 0;
        padding: 40px 0 0;
        list-style: none;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        &__item {
            width: 48%;
            line-height: 24px;
            position: relative;
            padding: 0 0 60px 125px;
            min-height: 104px;

            &:nth-child(even) {
                margin: 0 0 0 4%;
            }

            &::before {
                content: '';
                width: 104px;
                height: 104px;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 50%;
                border: 1px solid #614248;
            }

            h2 {
                padding: 0 0 15px;
            }

            &_icon-1 {
                &::before {
                    background: url('#{$img-url}icon-1.png') no-repeat 50% 50%;
                }
            }

            &_icon-2 {
                &::before {
                    background: url('#{$img-url}icon-2.png') no-repeat 50% 50%;
                }
            }

            &_icon-3 {
                &::before {
                    background: url('#{$img-url}icon-3.png') no-repeat 50% 50%;
                }
            }

            &_icon-4 {
                &::before {
                    background: url('#{$img-url}icon-4.png') no-repeat 50% 50%;
                }
            }

            &_icon-5 {
                &::before {
                    background: url('#{$img-url}icon-5.png') no-repeat 50% 50%;
                }
            }

            &_icon-6 {
                &::before {
                    background: url('#{$img-url}icon-6.png') no-repeat 50% 50%;
                }
            }
        }
    }
}