.phone-order {
    background: url('#{$img-url}pattern-grey-bg.gif');
    padding: 52px 0 70px;
    
    &__inner {
        width: 510px;
        margin: 0 auto;
        text-align: center;
    }

    &__title {
        font-size: 36px;
        color: #fff;
        padding: 0 0 15px;
    }

    &__text {
        font-size: 18px;
        color: $default-color;
        font-family: 'Roboto', sans-serif;
        padding: 0 0 25px;
    }

    &__form {
        width: 460px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .form__col {
            width: 240px;
        }
    }
}