/**
 *  Config
 */

$min-width: 962px;
$max-width: 1600px;

$font-size: 16px;
$line-height: 22px;
$font-family: Georgia, 'Times New Roman', Times, serif;

$default-brown-color: #907769;
$color-brown: #6b5e57;
$color-brown-text: #9f8d84;
$color-brown-button: #b2a995;
$color-red: #8e4e59;

$default-color: #777777;
$default-bg-color: #fff;

$default-color-link: #777777;
$default-color-link-hover: #777777;

$default-animation-speed: 0.35s;

$img-url: '/img/';
$pic-url: '../pictures/';
$font-url: '../fonts/';
